
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reports Home</h1>

<div class="container">
    <div class="row">
        <div class="col-3">
            <a class="btn btn-primary" asp-action="Leaderboard">Leaderboard</a>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <a class="btn btn-primary" asp-action="Leaderboard">Search</a>
        </div>
    </div>
</div>